<!-- templates/emails/new_match.html -->
{% extends "emails/base.html" %}

{% block title %}New Match! 🎉{% endblock %}

{% block content %}
<h2>Congratulations {{ user.profile.display_name }}!</h2>
<p>You've matched with {{ matched_with.profile.display_name }}!</p>
<p>Don't keep them waiting - start a conversation now!</p>
{% comment %} <center>
    <a href="{{ match_url }}" class="button">View Match</a>
</center> {% endcomment %}
<center>
    <a href="{{ play_store_url }}" target="_blank" style="display: inline-block; margin: 10px;">
        <img src="https://assets.stickpng.com/images/5a902dbf7f96951c82922875.png" alt="Get on Google Play" style="height: 50px;">
    </a>
    <p style="color: #888; margin-top: 5px;">
        iOS version coming soon! 🚀
    </p>
</center>
{% endblock %}