<!-- templates/emails/request_accepted.html -->
{% extends "emails/base.html" %}

{% block title %}Request Accepted! ✅{% endblock %}

{% block content %}
<h2>Great news {{ user.profile.display_name }}!</h2>
<p>{{ other_user.profile.display_name }} has accepted your message request.</p>
<p>You can now continue the conversation in your chat:</p>
{% comment %} <center>
    <a href="{{ chat_url }}" class="button">Continue Chatting</a>
</center> {% endcomment %}
<center>
    <a href="{{ play_store_url }}" target="_blank" style="display: inline-block; margin: 10px;">
        <img src="https://assets.stickpng.com/images/5a902dbf7f96951c82922875.png" alt="Get on Google Play" style="height: 50px;">
    </a>
    <p style="color: #888; margin-top: 5px;">
        iOS version coming soon! 🚀
    </p>
</center>
{% endblock %}