
<!-- templates/emails/welcome.html -->
{% extends "emails/base.html" %}

{% block title %}Welcome to {{ site_name }}!{% endblock %}

{% block content %}
<h2>Hi {{ user.profile.display_name }}!</h2>
<p>Welcome to {{ site_name }}! We're excited to help you find meaningful connections.</p>
<p>To get started:</p>
<ol>
    <li>Complete your profile</li>
    <li>Add your best photos</li>
    <li>Start exploring matches</li>
</ol>
<center>
    <a href="{{ login_url }}" class="button">Get Started</a>
</center>
{% endblock %}

